github.com:
  user: sushichan044
  git_protocol: ssh
  users:
    sushichan044:
    oauth_token: {{ onepasswordRead "op://dotfiles/GH-PAT-CLI/token" }}
  oauth_token: {{ onepasswordRead "op://dotfiles/GH-PAT-CLI/token" }}
