#!/bin/sh
# Run when mise.toml Changed
# {{ include "dot_config/mise/config.toml" | sha256sum }}
set -eu

if ! type mise >/dev/null 2>&1; then
    echo "❌ mise is not available. Exiting..."
    exit 1
fi

echo "🚚 mise.toml change detected. Executing mise install..."

mise install

echo "✅ Finished running mise install."
