{{ if eq .ostype "darwin" -}}
#!/bin/sh
set -euo pipefail

echo "⏩ Start installing fonts..."

FONT_DIR="$HOME/Library/Fonts"
if [ ! -d "$FONT_DIR" ]; then
    mkdir -p "$FONT_DIR"
fi

if ! type unzip >/dev/null 2>&1; then
    echo "❌ unzip is not available. Exiting..."
    exit 1
fi

echo "📝 Installing yuru7/Explex ..."

EXPLEX_FONT_ZIP_URL={{ gitHubLatestReleaseAssetURL "yuru7/Explex" (printf "Explex_v*.zip") }}

curl -L -o /tmp/explex.zip $EXPLEX_FONT_ZIP_URL

unzip -o /tmp/explex.zip -d /tmp

cp -f /tmp/Explex_v*/Explex35/Explex35-*.ttf $FONT_DIR

rm -rf /tmp/explex.zip /tmp/Explex_v*

echo "🚚 yuru7/Explex installed successfully!"

echo "✅ Finished installing fonts."
{{ end -}}
