{{ if eq .chezmoi.os "disabled" -}}
#!/bin/sh
set -e

echo "⏩ Start initializing 1Password CLI plugin..."

if type op >/dev/null 2>&1; then
  op plugin init gh
else
  echo "❌ 1Password CLI is not installed. Cannot install 1Password CLI plugin."
  exit 1
fi

echo "✅ Finished initializing 1Password CLI plugin!"
{{ end -}}
