{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/sh
set -e
PROTO_HOME="$HOME/.proto"
PROTOTOOLS="$PROTO_HOME/.prototools"

{{ if eq .chezmoi.os "linux" -}}
BREW_BIN="/home/linuxbrew/.linuxbrew/bin/brew"
{{ else -}}
BREW_BIN="/opt/homebrew/bin/brew"
{{ end -}}

echo "⏩ Start installing Proto..."

if [ ! -x "$BREW_BIN" ]; then
  echo "❌ Proto requires xz and it is expected to be installed via homebrew."
  echo "But homebrew is not available here. Exiting..."
  exit 1
fi

eval "$($BREW_BIN shellenv)"

mkdir -p "$PROTO_HOME" && touch "$PROTOTOOLS"
echo "[settings]\nauto-clean = true" > "$PROTOTOOLS"
curl -fsSL https://moonrepo.dev/install/proto.sh | /bin/bash -s -- --no-profile --yes

echo "✅ Finished installing Proto!"
{{ else if eq .chezmoi.os "windows" -}}
irm https://moonrepo.dev/install/proto.ps1 | iex
{{ end -}}
