{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
set -eu

echo "⏩ Start running macOS configuration..."
echo "🔐 Some config requires sudo permission."

# System UI / UX
sudo nvram StartupMute=%01                                         # Disable the sound effects on boot
sudo pmset -a sleep 30                                             # Sleep the computer after 30 minutes
sudo pmset -a displaysleep 15                                      # Sleep the display after 15 minutes
sudo pmset -a disksleep 15                                         # Put the hard disk(s) to sleep after 10 minutes
defaults write com.apple.LaunchServices "LSQuarantine" -bool false # Disable the "Are you sure you want to open this application?" dialog
defaults write NSGlobalDomain "AppleInterfaceStyle" -string "Dark" # Use dark menu bar and Dock

# Dock
defaults write com.apple.Dock autohide -bool true         # Autohide Dock
defaults write com.apple.dock show-recents -bool false    # Remove recent apps from Dock
defaults write com.apple.dock launchanim -bool false      # Disable launch animation
defaults write com.apple.dock orientation -string "bottom" # Move Dock to the bottom side of the screen

# Screenshot
SCREENSHOT_DIR="$HOME/Pictures/Screenshots"
mkdir -p "$SCREENSHOT_DIR"
defaults write com.apple.screencapture "location" -string "$SCREENSHOT_DIR" # Change screenshot save location
defaults write com.apple.screencapture type -string "png"                   # Save screenshots in PNG format

# Finder
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool true # Show all file extensions

defaults write com.apple.finder "ShowPathbar" -bool true                       # Show path bar
defaults write com.apple.finder "_FXSortFoldersFirst" -bool true               # Sort folders first
defaults write com.apple.finder "FXEnableExtensionChangeWarning" -bool false   # Disable warning when changing file extension
defaults write com.apple.desktopservices "DSDontWriteNetworkStores" -bool true # Avoid creating .DS_Store files on network volumes
defaults write com.apple.finder "_FXShowPosixPathInTitle" -bool true           # Show full path in Finder title
defaults write com.apple.finder QLEnableTextSelection -bool true               # Allow text selection in Quick Look
defaults write com.apple.print.PrintingPrefs "Quit When Finished" -bool true   # Automatically quit printer app once the print jobs complete

# Finder: Arrange by name for icons on the desktop and in other icon views
/usr/libexec/PlistBuddy -c "Set :FK_DefaultIconViewSettings:arrangeBy name" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :FK_StandardViewSettings:IconViewSettings:arrangeBy name" ~/Library/Preferences/com.apple.finder.plist
/usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:arrangeBy name" ~/Library/Preferences/com.apple.finder.plist

# Menu bar
defaults write com.apple.menuextra.clock "ShowSeconds" -bool true      # Show seconds in menu bar clock
defaults write com.apple.menuextra.battery "ShowPercent" -string "YES" # Show battery percentage in menu bar

# Mouse
defaults write NSGlobalDomain com.apple.mouse.linear -bool true # Disable mouse acceleration

# Trackpad
# Trackpad: Enable dragging with trackpad
defaults write com.apple.AppleMultitouchTrackpad "DragLock" -bool true
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad "DragLock" -bool true

# Trackpad: Enable tap to click for this user and for the login screen
defaults write com.apple.driver.AppleMultitouchTrackpad Clicking -bool true
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true
defaults -currentHost write NSGlobalDomain com.apple.mouse.tapBehavior -int 1
defaults write NSGlobalDomain com.apple.mouse.tapBehavior -int 1

# Keyboard
defaults write NSGlobalDomain "ApplePressAndHoldEnabled" -bool false  # Disable press-and-hold for keys
defaults write NSGlobalDomain "com.apple.keyboard.fnState" -bool true # Use F1, F2, etc. keys as standard function keys

# Terminal
defaults write com.apple.Terminal StringEncodings -array 4 # Only use UTF-8 in Terminal.app

AFFETED_APPS=(
    "Dock"
    "Finder"
    "SystemUIServer"
)

for app in "${AFFETED_APPS[@]}"; do
    killall "${app}" &>/dev/null
done

if [ ! -f /etc/pam.d/sudo_local ]; then
    echo "🤖 Creating /etc/pam.d/sudo_local to enable Touch ID for sudo..."
    sed -e 's/^#auth/auth/' /etc/pam.d/sudo_local.template | sudo tee /etc/pam.d/sudo_local
fi

echo "✅ Finished running macOS configuration. Some changes may require a restart to take effect."
{{ end -}}
