{
  "mcpServers": {
    "sentry": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://mcp.sentry.dev/sse"
      ]
    },
    "GitHub": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "-e",
        "GITHUB_PERSONAL_ACCESS_TOKEN",
        "ghcr.io/github/github-mcp-server"
      ],
      "env": {
{{- if .for_personal }}
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ onepasswordRead "op://dotfiles/GITHUB_PAT_MCP/token" }}"
{{- else }}
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ onepasswordRead "op://Employee/GITHUB_PAT_MCP/token" }}"
{{- end }}
      }
    },
    "sequential-thinking": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-sequential-thinking"
      ]
    },
    "web-baseline": {
      "command": "deno",
      "args": [
        "run",
        "--allow-net=api.webstatus.dev",
        "jsr:@yamanoku/baseline-mcp-server"
      ]
    },
    "notionApi": {
      "command": "npx",
      "args": ["-y", "@notionhq/notion-mcp-server@latest"],
      "env": {
{{- if .for_personal }}
        "OPENAPI_MCP_HEADERS": "{\"Authorization\": \"Bearer dummy\", \"Notion-Version\": \"2022-06-28\" }"
{{- else }}
        "OPENAPI_MCP_HEADERS": "{\"Authorization\": \"Bearer {{ onepasswordRead "op://Employee/Notion_MCP/password" }}\", \"Notion-Version\": \"2022-06-28\" }"
{{- end }}
      }
    },
    "context7": {
      "command": "npx",
      "args": ["-y", "@upstash/context7-mcp@latest"]
    },
    "bundlephobia": {
      "type": "sse",
      "url": "https://bundlephobia-mcp.sushichan044.workers.dev/sse"
    }
  }
}
