{{- $ostype := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $ostype = "wsl" -}}
{{-   end -}}
{{- end -}}
{{- $for_personal := true -}}
{{- $for_personal = promptBoolOnce . "for_personal" "Is this computer for personal use" -}}
# .for_personal: true | false (default: true)
# .ostype: darwin | linux | wsl | windows
[data]
for_personal = {{ $for_personal }}
ostype = {{ $ostype | quote }}

[diff]
command = "delta"
pager = "delta"

[edit]
command = "code"
args = [ "-n", "--wait"]

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/executable_.install-password-manager.sh"
