{{- $ostype := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $ostype = "wsl" -}}
{{-   end -}}
{{- end -}}
{{- $for_personal := true -}}
{{- if (or (eq $ostype "darwin") (eq .chezmoi.os "linux")) -}}
{{-   $for_personal = (not (promptBoolOnce . "for_personal" "Do you use this computer for work")) -}}
{{- end -}}
# .for_personal: true | false (default: true)
# .ostype: darwin | linux | wsl | windows
[data]
for_personal = {{ $for_personal }}
ostype = {{ $ostype | quote }}

[diff]
command = "delta"
pager = "delta"

[edit]
command = "code"
args = ["--wait"]

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/executable_.install-password-manager.sh"
