# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Load External config in ~/.zconfig
ZSHHOME="$HOME/.zconfig"
if [ -d "$ZSHHOME" -a -r "$ZSHHOME" -a \
      -x "$ZSHHOME" ]; then
    for i in "$ZSHHOME"/*; do
        [[ ${i##*/} = *.zsh ]] &&
            [ \( -f $i -o -h $i \) -a -r $i ] && . $i
    done
fi

# load completion
fpath=("$HOME/.zcompletion" "$(brew --prefix)/share/zsh/site-functions" "${fpath[@]}")

# sheldon
if type sheldon &>/dev/null; then
  eval "$(sheldon source)"
fi

# init completion
autoload -Uz compinit && compinit

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# mise
if type mise &>/dev/null; then
  eval "$(mise activate zsh)"
  export PATH="$HOME/.local/share/mise/shims:$PATH"
fi

# proto
export PROTO_HOME="$HOME/.proto";
export PATH="$PROTO_HOME/shims:$PROTO_HOME/bin:$PATH";
eval "$(proto activate zsh)"
export PROTO_CONFIG_MODE="local"

# uv
eval "$($(mise which uv) generate-shell-completion zsh)"

# direnv
eval "$(direnv hook zsh)"

# fzf
source <(fzf --zsh)

# task
eval "$(task --completion zsh)"

# zoxide
eval "$(zoxide init zsh)"

# chezmoi-managed-bin
CHEZMOI_BIN_DIR="$HOME/.chezmoi-bin"
[[ -e "$CHEZMOI_BIN_DIR" ]] && export PATH="$PATH:$CHEZMOI_BIN_DIR"
