# tap
tap "homebrew/bundle"
tap "homebrew/services"
tap "cloudflare/cloudflare"
tap "kayac/tap"
tap "suzuki-shunsuke/ghalint"
tap "suzuki-shunsuke/pinact"

# brew
brew "kayac/tap/ecspresso"
brew "suzuki-shunsuke/ghalint/ghalint"
brew "suzuki-shunsuke/pinact/pinact"
brew "act"
brew "actionlint"
brew "bat"
brew "chezmoi"
brew "cloudflared"
brew "cmake"
brew "cpanminus"
brew "devcontainer"
brew "direnv"
brew "eza"
brew "fastfetch"
brew "fd"
brew "ffmpeg"
brew "fzf"
brew "fzf-make"
brew "gcc"
brew "gh"
brew "ghq"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "go-task"
brew "gzip"
brew "hadolint"
brew "httpie"
brew "imagemagick"
brew "jq"
brew "latexindent"
brew "lazygit"
brew "libyaml"
brew "mise"
brew "peco"
brew "perl"
brew "ripgrep"
brew "sheldon"
brew "shellcheck"
brew "shfmt"
brew "sl"
brew "unzip"
brew "xz"
brew "zoxide"
{{ if eq .chezmoi.os "linux" }}
# zsh
brew "zsh"
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
# cask
cask "1password-cli"
cask "alt-tab"
cask "appcleaner"
cask "arc"
cask "battery"
cask "coconutbattery"
cask "deskpad"
cask "docker"
cask "figma"
cask "font-fira-code"
cask "font-meslo-for-powerlevel10k"
cask "font-noto-sans-jp"
cask "ghostty"
cask "google-japanese-ime"
cask "hhkb"
cask "hiddenbar"
cask "httpie"
cask "linearmouse"
cask "mongodb-compass"
cask "neohtop"
cask "notchnook"
cask "raycast"
cask "spotify"
cask "visual-studio-code"
cask "wezterm@nightly"
cask "xcodes"
{{ if .for_personal }}
# for personal mac only
cask "1password"
cask "anydesk"
cask "cyberduck"
cask "discord"
cask "gimp"
cask "google-chrome"
cask "mactex-no-gui"
cask "notion"
cask "prismlauncher"
cask "readdle-spark"
cask "slack"
cask "tailscale"
cask "zoom"
{{ end }}
{{ end }}
