# PATH
export PATH="$HOME/.local/bin:$PATH"

# HOME
export XDG_CONFIG_HOME="$HOME/.config"

. "$HOME/.cargo/env"

# mise
if type mise &>/dev/null; then
    export PATH="$HOME/.local/share/mise/shims:$PATH"
fi
