# frozen_string_literal: true

# tap
tap "homebrew/bundle"
tap "homebrew/services"
tap "buo/cask-upgrade"
tap "caarlos0/tap"
tap "cloudflare/cloudflare"
tap "f/mcptools"
tap "goreleaser/tap"
tap "homeport/tap"
tap "kayac/tap"
tap "songmu/tap"
tap "sushichan044/tap"
tap "suzuki-shunsuke/ghalint"
tap "suzuki-shunsuke/pinact"

# from custom tap
brew "f/mcptools/mcp"
brew "homeport/tap/termshot"
brew "kayac/tap/ecspresso"
brew "songmu/tap/laminate"
brew "sushichan044/tap/ajisai"

cask "caarlos0/tap/svu"
cask "goreleaser/tap/goreleaser"
cask "sushichan044/tap/mdfm"
cask "suzuki-shunsuke/ghalint/ghalint"
cask "suzuki-shunsuke/pinact/pinact"

# brew
brew "act"
brew "actionlint"
brew "ast-grep"
brew "autoconf"
brew "awscli"
brew "awscli-local"
brew "bat"
brew "bazel"
brew "chezmoi"
brew "cloudflared"
brew "cmake"
brew "cowsay"
brew "cpanminus"
brew "cppcheck"
brew "cpplint"
brew "deck"
brew "devcontainer"
brew "duckdb"
brew "eza"
brew "fastfetch"
brew "fd"
brew "ffmpeg"
brew "flawfinder"
brew "flyway"
brew "fzf"
brew "gcc"
brew "gh"
brew "ghq"
brew "git"
brew "git-branchless"
brew "git-delta"
brew "git-lfs"
brew "gmp"
brew "go-task"
brew "golangci-lint"
brew "gzip"
brew "hadolint"
brew "httpie"
brew "imagemagick"
brew "jq"
brew "jsonnet"
brew "just"
brew "latexindent"
brew "lazygit"
brew "lefthook"
brew "libffi"
brew "libyaml"
brew "lighttpd"
brew "llvm"
brew "mise"
brew "mysql@8.0"
brew "mongosh"
brew "nkf"
brew "openssl@3"
brew "peco"
brew "perl"
brew "postgresql@14"
brew "postgresql@16"
brew "ripgrep"
brew "shared-mime-info"
brew "sheldon"
brew "shellcheck"
brew "shfmt"
brew "sl"
brew "tokei"
brew "tree"
brew "unzip"
brew "vips"
brew "xz"
brew "zls"

# cask
cask "1password-cli"
cask "claude-code"

# Linux only
if OS.linux?
  brew "zsh"
end

if OS.mac?
  # GNU tools
  brew "coreutils"
  brew "findutils"
  brew "gnu-sed"
  brew "grep"
  brew "mas"
  brew "terminal-notifier"

  # brew
  brew "batt",
    postinstall:
      "echo '⏩ Installing Background Service of Batt... This requires sudo permission.' && sudo ${HOMEBREW_PREFIX}/bin/brew services start batt && sudo ${HOMEBREW_PREFIX}/bin/batt status && sudo ${HOMEBREW_PREFIX}/bin/batt limit 80 && sudo ${HOMEBREW_PREFIX}/bin/batt magsafe-led enable"

  # cask
  cask "1password"
  cask "alt-tab"
  cask "altair-graphql-client"
  cask "appcleaner"
  cask "claude"
  cask "coconutbattery"
  cask "cursor"
  cask "cursor-cli"
  cask "deskpad"
  cask "discord"
  cask "figma"
  cask "gcloud-cli", greedy: true
  cask "ghostty"
  cask "google-drive"
  cask "google-japanese-ime"
  cask "hhkb"
  cask "httpie-desktop"
  cask "inkscape"
  cask "jetbrains-toolbox"

  if OS::Mac.version >= :tahoe
    cask "jordanbaird-ice@beta"
  else
    # beta build seems not working on macOS Ventura and earlier
    cask "jordanbaird-ice"
  end

  cask "karabiner-elements"
  cask "linearmouse"
  cask "mongodb-compass"
  cask "neohtop"
  cask "notchnook"
  cask "notion"
  cask "orbstack", greedy: true
  cask "proxyman",
    postinstall: "echo '⏩ Installing Proxy Helper Tool of Proxyman... This requires sudo permission.' && sudo /Applications/Proxyman.app/Contents/MacOS/proxyman --install-privileged-components"
  cask "raycast", greedy: true
  cask "session-manager-plugin"
  cask "slack-cli"
  cask "spotify"
  cask "thebrowsercompany-dia"
  cask "visual-studio-code"
  cask "voiceink"
  cask "wezterm@nightly"
  cask "xcodes-app"
  cask "zoom"
  # fonts
  cask "font-fira-code"
  cask "font-meslo-for-powerlevel10k"
  cask "font-moralerspace"
  cask "font-moralerspace-nf"
  cask "font-noto-sans-jp"

  # mas
  mas "Flow", id: 1423210932
  mas "1Password for Safari", id: 1569813296
{{ if .for_personal }}
  # for personal mac only
  cask "anydesk"
  cask "cyberduck"
  cask "gimp"
  cask "google-chrome"
  cask "mactex-no-gui"
  cask "prismlauncher"
  cask "readdle-spark"
  cask "slack"
  cask "tailscale-app"
{{ else }}
  cask "ollama-app" # needs high machine resource, expected to have 32GB+ RAM
{{ end }}
end

{{ if not .for_personal }}
{{ (onepasswordDetailsFields "j42vpfiovjdirqy6xq6hlax34m").notesPlain.value }}
{{ end }}
