source "$HOME/.zsh.d/setup/init.zsh"

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# prepare completions
COMPLETION_HOME="$HOME/.zsh.d/completions"
fpath=("$COMPLETION_HOME" "$(brew --prefix)/share/zsh/site-functions" "${fpath[@]}")

if command_exists sheldon; then
  eval "$(sheldon source)"
fi

autoload bashcompinit && bashcompinit
autoload -Uz compinit && compinit

# Only make targets appear in `make` completions
zstyle ':completion:*:*:make:*' tag-order 'targets'

# To customize prompt, run `p10k configure` or edit dot_zsh.d/autoload/p10k.zsh.
load_zsh_files_from_dir "$HOME/.zsh.d/autoload"

# Auto suggestion text color
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=242'

if command_exists mise; then
  eval "$(mise activate zsh)"
fi

if command_exists rg; then
  export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/.ripgreprc"
fi

if command_exists gemini; then
  export SEATBELT_PROFILE="permissive-open"
fi

if command_exists git-wt; then
  eval "$(git-wt --init zsh --nocd)"
fi

{{ if eq .chezmoi.os "linux" "darwin" -}}
{{ if eq .chezmoi.os "linux" -}}
# TBD pnpm
{{ else if eq .chezmoi.os "darwin" -}}
# pnpm
export PNPM_HOME="$HOME/Library/pnpm"

add_to_path_if_not_exists "$PNPM_HOME"
# pnpm end
{{ end -}}
{{- end -}}

{{ if not .for_personal }}
{{/* Load Private zshrc */}}
{{- (onepasswordDetailsFields "2pybemjhmpdlmbog3ssdgom5uq").notesPlain.value -}}
{{ end }}


# Dynamic Shell Completions
if command_exists fzf; then
  source <(fzf --zsh)
fi

# AWS CLI
if command_exists aws_completer; then
  complete -C aws_completer aws
fi

if command_exists uv; then
  eval "$(uv generate-shell-completion zsh)"
fi

if command_exists uvx; then
  eval "$(uvx --generate-shell-completion zsh)"
fi

if command_exists phantom; then
  eval "$(phantom completion zsh)"
fi

if command_exists sidetable; then
  eval "$(sidetable completion zsh)"
fi

GCLOUD_BASE="$BREW_BASE/share/google-cloud-sdk"
if dir_exists "$GCLOUD_BASE"; then
  if file_exists "$GCLOUD_BASE/path.zsh.inc"; then
    # The next line updates PATH for the Google Cloud SDK.
    . "$GCLOUD_BASE/path.zsh.inc"
  fi

  if file_exists "$GCLOUD_BASE/completion.zsh.inc"; then
    # The next line enables shell command completion for gcloud.
    . "$GCLOUD_BASE/completion.zsh.inc"
  fi
fi
