alias clr='clear'
alias mkdir='mkdir -p'
alias rm='rm -i'
alias mv='mv -i'

alias reitou='tar -zcvf'
alias kaitou='tar -xvf'

alias rrr="exec $SHELL -l"

# GNU Tools in macOS
if command_exists gsed; then
    alias sed='gsed'
fi

alias g='git'
alias gs='git status'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias gpl='git pull'
alias grm='git rm'
alias grt='cd "$(git rev-parse --show-toplevel)"'
alias lg='lazygit'
alias gg='ghq get'
# https://github.com/aku11i/phantom
alias wt='phantom'

alias br='brew'
alias bru='brew update && brew bundle install --file="$HOME/.Brewfile"'
alias bri='brew install'
alias brr='brew remove'

alias d='docker'
alias dc='docker compose'
alias dcb='docker compose build'
alias dcu='docker compose up -d'
alias dcd='docker compose down'

# mise
alias mi='mise install'
alias mr='mise run'

# latex
alias tl='sudo tlmgr'
alias tlu='sudo tlmgr update --self && sudo tlmgr update --all'

# misc
alias cv='code .'
alias crv='cursor .'
alias rv='rubymine .'
alias cz='chezmoi'

if command_exists eza; then
    alias ls='eza --group-directories-first'
    alias ll='eza -abghHliS --git --time-style=iso --group-directories-first'
else
    if is_mac; then
        alias ls='ls -G'
        alias ll='ls -l -G'
    else
        alias ls='ls --color=always'
        alias ll='ls -l --color=always'
    fi
fi

if is_linux && command_exists apt; then
    alias agi='sudo apt install'
    alias agu='sudo apt update && sudo apt upgrade'
    alias agc='sudo apt autoremove -y && sudo apt autoclean -y'
    alias agr='sudo apt remove'
fi

if command_exists claude; then
    alias c='claude'
fi

{{ if eq .ostype "wsl" }}
# wsl-open
alias open='wsl-open'
# ssh
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{{ end }}
