{{- /* Commit Signing with 1Password */ -}}
{{- if eq .ostype "darwin" -}}
[commit]
gpgsign = true
[gpg]
format = ssh
[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .ostype "linux" -}}
[commit]
gpgsign = true
[gpg]
format = ssh
[gpg "ssh"]
program = "/opt/1Password/op-ssh-sign"
{{ else if eq .ostype "wsl" -}}
[commit]
gpgsign = true
[gpg]
format = ssh
[gpg "ssh"]
program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl"
{{ else if eq .ostype "windows" -}}
[commit]
gpgsign = true
[gpg]
format = ssh
[gpg "ssh"]
program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{ end -}}
