{{- if eq .chezmoi.username "sushichan044" -}}
[user]
{{- if .for_personal }}
signingkey = {{ onepasswordRead "op://dotfiles/Codeberg/public key" }}
{{- else }}
signingkey = {{ onepasswordRead "op://Employee/Codeberg/public key" }}
{{- end }}
{{- end }}
