{{- if eq .chezmoi.username "sushi" "sushichan044" -}}
{{- if .for_personal -}}
{{- onepasswordRead "op://dotfiles/p3qiphrziv7p67doixkbm3pcf4/private_key" -}}
{{- else -}}
{{- onepasswordRead "op://Employee/GitHub/private_key" -}}
{{- end -}}
{{- end }}
