{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/sh
set -e
echo "⏩ Start installing Scala..."

echo "🚀 Installing coursier"

{{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.arch "amd64" -}}
    curl -fL "https://github.com/coursier/launchers/raw/master/cs-x86_64-pc-linux.gz" | gzip -d >cs
    {{ else if eq .chezmoi.arch "arm64" -}}
    curl -fL "https://github.com/VirtusLab/coursier-m1/releases/latest/download/cs-aarch64-pc-linux.gz" | gzip -d >cs
    {{ else -}}
    TEMP_CHEZMOI_ARCH={{- .chezmoi.arch }}
    echo "🚧 Warning: Unsupported architecture: $TEMP_CHEZMOI_ARCH"
    exit 1
    {{ end -}}
{{ else -}}
    {{ if eq .chezmoi.arch "amd64" -}}
    curl -fL https://github.com/coursier/launchers/raw/master/cs-x86_64-apple-darwin.gz | gzip -d > cs
    {{ else if eq .chezmoi.arch "arm64" -}}
    curl -fL https://github.com/VirtusLab/coursier-m1/releases/latest/download/cs-aarch64-apple-darwin.gz | gzip -d > cs
    {{ else -}}
    TEMP_CHEZMOI_ARCH={{- .chezmoi.arch }}
    echo "🚧 Warning: Unsupported architecture: $TEMP_CHEZMOI_ARCH"
    exit 1
    {{ end -}}
{{ end }}
chmod +x cs

echo "🚚 Moving cs to /usr/local/bin. This may require sudo access."
mv cs /usr/local/bin/cs >/dev/null 2>&1 || sudo mv cs /usr/local/bin/cs

echo "🚀 Installed coursier! Make sure to add /usr/local/bin to your PATH!"

echo "⏩ Running coursier setup..."
eval "$(/usr/local/bin/cs setup --env)"

echo "✅ Finished installing Scala!"
{{ end -}}
