{{ if stat (joinPath .chezmoi.homeDir ".orbstack" "ssh" "config") -}}
include ~/.orbstack/ssh/config
{{- end }}

include config.d/*.conf

Host github github.com
    HostName github.com
    User git
    IdentitiesOnly yes
    IdentityFile ~/.ssh/github

# https://docs.codeberg.org/security/ssh-key/#test-the-ssh-connection
Host codeberg codeberg.org
    HostName codeberg.org
    User git
    IdentitiesOnly yes
    IdentityFile ~/.ssh/codeberg

{{ if eq .ostype "darwin" }}
Host *
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}
