{{- if eq .chezmoi.username "sushi" "sushichan044" -}}
[user]
{{- if .for_personal -}}
signingkey = {{ onepasswordRead "op://dotfiles/Github-Commit-Sign/public key" }}
{{ - else - }}
signingkey = {{ onepasswordRead "op://Employee/Github-Commit-Sign/public key" }}
{{- end -}}

[include]
# Load user.name and user.email from ~/.config/git/config.d/user.conf
path = ~/.config/git/config.d/user.conf
path = ~/.config/git/config.d/ghq.conf
{{- end }}

[init]
defaultBranch = main

[core]
autocrlf = input
ignorecase = false
pager = delta

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true

[diff]
colorMoved = default

[color]
ui = true
diff = auto
status = auto
branch = auto

[push]
autoSetupRemote = true
default = current

[pull]
autoStash = true
rebase = true

[fetch]
prune = true

[merge]
conflictStyle = diff3

[rebase]
autoStash = true

[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f

[alias]
clear-cache = "rm -r --cached ."
com = "!f() { remote_head=$(git symbolic-ref --quiet refs/remotes/origin/HEAD); remote_head=${remote_head#refs/remotes/origin/}; git checkout ${remote_head:-$(git rev-parse --symbolic --verify --quiet main || git rev-parse --symbolic --verify --quiet master)}; }; f"
fixit = "commit --amend --no-edit"

# Commit signing
# Not configured for .ostype == "linux"
{{ if eq .ostype "darwin" -}}
[commit]
gpgsign = true
[gpg]
format = ssh
[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .ostype "wsl" -}}
[commit]
gpgsign = true
[gpg]
format = ssh
[gpg "ssh"]
program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl"
{{ else if eq .ostype "windows" -}}
[commit]
gpgsign = true
[gpg]
format = ssh
[gpg "ssh"]
program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{ end -}}
