{{ if eq .ostype "wsl" -}}
#!/bin/sh
set -e

FILE="$HOME/.chezmoi-bin/wsl-open"
if [ -f "$FILE" ]; then
    if [ "$(stat -c %a "$FILE")" != "700" ]; then
        echo "⏩ Start setting wsl-open permission..."
        chmod 700 "$FILE"
        echo "✅ Set wsl-open permission to 700."
    fi
fi
{{ end -}}
