alias clr='clear'
alias mkdir='mkdir -p'

alias reitou='tar -zcvf'
alias kaitou='tar -xvf'

alias rrr="exec $SHELL -l"

alias g='git'
alias gs='git status'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias gpl='git pull'
alias grm='git rm'
alias grt='cd "$(git rev-parse --show-toplevel)"'
alias lg='lazygit'
alias gg='ghq get'

alias br='brew'
alias bru='brew update && brew bundle install --file="$HOME/.Brewfile"'
alias bri='brew install'
alias brr='brew remove'

alias d='docker'
alias dc='docker compose'
alias dcb='docker compose build'
alias dcu='docker compose up -d'
alias dcd='docker compose down'
alias lzd='lazydocker'

# mise
alias m='mise'
alias mi='mise install'
alias mr='mise run'
alias mw='mise watch'

# latex
alias tl='sudo tlmgr'
alias tlu='sudo tlmgr update --self && sudo tlmgr update --all'

# misc
alias cv='code .'
cw() {
    local ws=(*.code-workspace)
    if ((${#ws[@]} == 1)); then
        code "$ws"
    else
        echo "Multiple or no .code-workspace files found."
        return 1
    fi
}
alias crv='cursor .'
crw() {
    local ws=(*.code-workspace)
    if ((${#ws[@]} == 1)); then
        cursor "$ws"
    else
        echo "Multiple or no .code-workspace files found."
        return 1
    fi
}
alias rv='rubymine .'
alias zv='zed .'
alias cz='chezmoi'

alias c='claude'
alias oc='opencode'

if command_exists eza; then
    alias ls='eza --group-directories-first'
    alias ll='eza -abghHliS --git --time-style=iso --group-directories-first'
else
    if is_mac; then
        alias ls='ls -G'
        alias ll='ls -l -G'
    else
        alias ls='ls --color=always'
        alias ll='ls -l --color=always'
    fi
fi

if is_linux && command_exists apt; then
    alias agi='sudo apt install'
    alias agu='sudo apt update && sudo apt upgrade'
    alias agc='sudo apt autoremove -y && sudo apt autoclean -y'
    alias agr='sudo apt remove'
fi

if command_exists difit; then
    alias dv='difit'
    alias dvp='difit --pr'
fi

if command_exists zellij; then
    alias za='zellij attach'
fi

{{ if eq .ostype "wsl" }}
# wsl-open
alias open='wsl-open'
# ssh
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{{ end }}
