{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# 必要なら Xcode Command Line Tools もインストールされる
if ! type "/opt/homebrew/bin/brew" >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
eval $(/opt/homebrew/bin/brew shellenv)
brew install gcc git
brew bundle --file="$HOME/.Brewfile"
{{ else if eq .chezmoi.os "linux" -}}
#!/bin/sh
# 最低限のセットアップ
sudo apt update && sudo apt upgrade -y

sudo apt install -y fonts-ipafont fontconfig &&
  fc-cache -fv

sudo sh -c 'echo Asia/Tokyo > /etc/timezone' &&
  sudo dpkg-reconfigure --frontend noninteractive tzdata

sudo update-alternatives --set editor /usr/bin/vim.basic

sudo apt-get update &&
  sudo apt-get install -y build-essential procps wget ca-certificates curl file git libc++1

# Homebrew入れる
if ! type "/home/linuxbrew/.linuxbrew/bin/brew" >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew install gcc git
brew bundle --file="$HOME/.Brewfile"
# zsh有効化
which zsh | sudo tee -a /etc/shell &&
  sudo chsh -s "$(command -v zsh)" "${USER}"
{{ end -}}
