{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/sh
curl -fsSL https://moonrepo.dev/install/proto.sh | /bin/bash
{{ else if eq .chezmoi.os "windows" -}}
irm https://moonrepo.dev/install/proto.ps1 | iex
{{ end -}}
