# yaml-language-server: $schema=https://json.schemastore.org/lazydocker.json

customCommands:
  containers:
    - name: bash
      attach: true
      command: "docker exec -it {{ .Container.ID }} /bin/bash"
      serviceNames: []
